.card-placeholder {
    perspective: 600px;
}

.card {
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card-front {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.card-back {
    background-color: #EFEFEF;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back-drawing {
    background-color: #87e8eb;
}