.navbar {
  height: 3.125rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.05));
  backdrop-filter: blur(15px);
}

#music-toggle:hover {
  color: #5CE1E6;
}

.logo {
  font-size: 2rem;
  color: #43811b
}