
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    margin: 0;
}

.navbar {
    background-color: #5CE1E6 !important;
    height: 50px;
}

#menu {
    display: flex;
    justify-content: center;
}

#hamburger {
    margin: auto;
    width: 30px;
    height: 30px;
}

.navbar-brand {
    padding-left: 30px;
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
}

    .navbar #menu {
        border-right: 1px solid black;
        background-color: #9CFBFF;
        height: 50px;
    }